<html>
<body>

<!--Navbar-->
[#include "../include/navbar.html"/]
<!--/.Navbar-->

<!--Mask-->
<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul class="animated fadeInUp">
            [#list contentList as content]
            <li>
                <h1 class="h1-responsive">{content.}</h1>
            </li>
            [/#list]
        </ul>
    </div>
</div>

<script type="text/javascript" src="/source/MDB/js/tether.min.js"></script>
<script type="text/javascript" src="/source/MDB/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/source/MDB/js/mdb.min.js"></script>
</body>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>xxkxxy</title>
    <link href="/source/MDB/fontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/source/MDB/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/MDB/css/mdb.min.css" rel="stylesheet">
    <link href="/source/css/indexstyle.css" rel="stylesheet">
    <script type="text/javascript" src="source/MDB/js/jquery-2.2.3.min.js"></script>
</head>
</html>
